<form action="{{path('project_hoinhabao_show',  {'tendangnhap':hoivien_item.TenDangNhap})}}" method="post">
	<div class="radio radio-primary">
        <label>
            <input type="radio" name="template" id="optionsRadios1" value="1"> Mẫu 1
        </label>
    </div>

	<div class="radio radio-primary">
        <label>
            <input type="radio" name="template" id="optionsRadios2" value="2"> Mẫu 2
        </label>
    </div>

    <div class="radio radio-primary">
        <label>
            <input type="radio" name="template" id="optionsRadios3" value="3"> Mẫu 3
        </label>
    </div>
	<button class="btn btn-primary" type= "submit" name="templateForm">Đổi </button>
</form>